@import url("https://fonts.googleapis.com/css?family=DM+Sans:500,700&display=swap");
* {
  box-sizing: border-box;
}

.nav {
  position: relative;

  display: flex;
  justify-content: space-around;

  width: 75vw;
  padding: 0 20px;
  margin: 2rem auto 0;
  overflow: hidden;

  background-color: #fff;
  border-radius: 40px;
  box-shadow: 0 10px 40px rgba(159, 162, 177, 0.8);
}

.nav-item {
  position: relative;
  z-index: 10;

  padding: 1.25rem;
  margin: 0 0.375rem;

  text-decoration: none;

  transition: 0.3s;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  color: #83818c;
 
}
.nav-item:before {
  position: absolute;
  left: 0;
  bottom: -0.625rem;
  
  content: "";
  
  width: 100%;
  height: 0.5rem;

  background-color: #bab0be;
  border-radius: 0.5rem 0.5rem 0 0;

  opacity: 0;
  transition: 0.3s;
}

.nav-item:not(.is-active):hover:before {
  opacity: 1;
  bottom: 0;
}

.nav-item:not(.is-active):hover {
  color: #333;
}

.nav-indicator {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 0.5rem;

  transition: 0.4s;
  height: 0.5rem;
  z-index: 10;
  border-radius: 0.5rem 0.5rem 0 0;
}

@media (max-width: 580px) {
  .nav {
    overflow-x: auto;
  }
}
